<% provide(:title, "About") %>

<div class="container">

  <div class="center">

    <div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">

      <h3>This site was created with two intentions:</h3>

      <br>

          <li><h3>To provide a learning resource for anyone who wants to learn about 5S.</h3></li>
          <li><h3>To provide web programming practice for <a href="https://www.linkedin.com/in/nick-edwards-718bb9116">Nick</a>.</h3></li>

       <br>

    </div>

  </div>

</div>