<% provide(:title, "About") %>

<div class="container">

  <div class="col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6">

    <h3>
    5S Trainer is a free site for learning about how to organize a workspace according to Lean Manufacturing principles.
    </h3>

    <h3>
    This site was created by Nick Edwards with two intentions:
    </h3>

  </div>

    <div class="col-md-offset-4 col-lg-offset-4 col-md-4 col-lg-4">
      <ul>
        <li><h3>-To provide a learning resource for anyone who wants to learn about 5S</h3></li>
        <li><h3>-To provide programming practice for Nick!</h3></li>
      </ul>
    </div>

  <div class="col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6">

    <h3>
    Check out the lesson topics <%= link_to "here!", root_path %>
    </h3>

  </div>

</div>