<% provide(:title, "Home") %>

<div class="container">

  <div class="center">

    <div class="col-sm-12 col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">

      <h3>Learn how to use 5S to organize a workspace according to Lean Manufacturing principles!</h3>

      <br>

      <h3>
      Create a free account to start!
      </h3>

    <br>

        <div class="btn btn-primary">
          <%= link_to "Sign up!", signup_path %>
        </div>

    </div>

  </div>

</div>