<% provide(:title, "Confirm Deletion") %>

<div class="row">
  <div class="col-sm-12 col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6">
  	<h3 class="center">Are you sure you want to delete your account?</h3>
  	<br>
  	<h3 class="center">This action cannot be undone.</h3>
  	<br>
    <div class="center">
        <div class="btn btn-primary">
          <%= link_to "Yes. Delete my Account.", user_path(@user), method: :delete  %>
        </div>
   	</div>
  </div>
</div>