<div class="row">
  <div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
  </div>
</div>