<% @lessons.each do |lesson| %>
  <% if lesson == Lesson.first %>
    <div id="next-lesson">
  	  <div><%= lesson.title %></div>
  	  <div>Click to start this lesson!</div>
    </div>
  <% else %>
    <div>
  	  <%= lesson.title %>
    </div>
  <% end %>
<% end %>
