<% @lessons.each_with_index do |lesson, i| %>
  <% if completed_lesson?(lesson) %>
    <div class="completed-lesson">
      <%= lesson.title %> Lesson completed
    </div>
  <% elsif next_lesson?(i) %>
    <div class="incomplete-lesson" id="next-lesson">
      <%= lesson.title %> Click to start this lesson!
    </div>
  <% else %>
    <div class="incomplete-lesson">
      <%= lesson.title %> Lesson not yet completed
    </div>
  <% end %>
<% end %>